.body{
    height : auto;
}
.inputsec{
    background-color : white;
    width: 30%;
    height :auto;
    margin-left : 40%;
     border-radius: 25px;
 border: 2px ;
}
.logheadreg{
    padding : 30px 10%;
    font-family : Arial;
    height : 30px;
    width : 200%;
}
.loginreg{
    font-size : 20px;
    padding-left : 45%;
    cursor: pointer;
}
.navb{
	background-color: rgb(5, 5, 44);
	overflow: hidden;
    position : fixed;
	width : 100%;
  	height : auto;
	z-index: 1;
	text-align : center;
}
.weltag{
	float : right;

	color : white;
	margin-top : 5px;
}
.homesignb{
	float : right;
	width :100px;
	height : 30px;
	text-align: center;
	background-color: dodgerblue;
	border: none;
	margin-top : 5px;
	cursor: pointer;
	margin-left: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}