.totalsec{
	width :100%;
	height : auto;
	margin: 0px;
    padding : 0px;
    overflow :hidden;
	text-align : center;
}
.navb{
	background-color: rgb(5, 5, 44);
	overflow: hidden;
    position : fixed;
	width : 100%;
  	height : auto;
	z-index: 1;
	text-align : center;
}
.weltag{
	float : right;

	color : white;
	margin-top : 5px;
}
.homeregb{
	float : right;
	width :100px;
	height : 30px;
	text-align: center;
	background-color: dodgerblue;
	border: none;
	cursor: pointer;
	margin-left: 20px;
	margin-top : 5px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.homesignb{
	float : right;
	width :100px;
	height : 30px;
	text-align: center;
	background-color: dodgerblue;
	border: none;
	margin-top : 5px;
	cursor: pointer;
	margin-left: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.homelogb{
	float : right;
	width :100px;
	height : 30px;
	margin-top : 5px;
	text-align: center;
	background-color: dodgerblue;
	border: none;
	cursor: pointer;
	margin-left: 20px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.divs{
	width: 100%;
	height : auto;
	margin-top: 70px;
}
.butt{
	width: auto;
	height : auto;
	cursor: pointer;
	border: none;
	background-color: dodgerblue;
	margin-right: 30px;
	font-size : 25px;
	color: ghostwhite;
}
.search{
	width: auto;
	height : auto;
	font-size : 25px;
	margin-top: 10px;
}
.searchby{
	font-size : 25px;
	margin-bottom: 10px;
}
.result{
	width: 100%;
	height : auto;
}
table{
	border-collapse: collapse;
	width : 100%;
	height:auto;
	margin-left : auto;
	margin-right : auto;
	margin-top: 25px;
}
thead th{
   background-color : Aquamarine;
   font-size : 25px;
   font-family : Ariel;
}
tbody {
   border-bottom: 1px solid #ddd;
   font-style : normal;
   font-size : 20px;
   font-weight : normal;
   margin-left: auto;
   margin-right: auto;
}
tr:nth-child(even){
	background-color: #f2f2f2
}