
.wholepage{
    background-repeat : no-repeat;
    background-size : cover;
    background-position : center;
    width : 100%;
    height : auto;
    position : fixed;
}
.loginbox{
    background-color : white;
    width: 30%;
    height : auto;
    margin-left : 40%;
    margin-top : 200px;
     border-radius: 25px;
  border: 2px ;
}
.loghead{
    padding : 30px 40%;
    font-family : Arial;
    height : 40px;
    width : 100%;
}
.inputsec{
    width : 100%;
    height : auto;
}
.titlecl{
    font-size : 20px;
    padding-left :20px;
}
.usern{
    width: 100%;
  padding: 10px;
  outline: none;

}
.userdiv{
 display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.uicon{
padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}
.fpass{
    width : 100%;
    height : 10px;
}
.fpassa{
    float: right;
    text-decoration : none;
    cursor : pointer;
    color : black;
}
.submit{
    background-color : dodgerblue;
    width : 50%;
    height: 35px;
    cursor : pointer;
    font-size : 20px;
    border : none;
    color : white;
    margin-left : 25%;
}
.googlebtn{
    width : 50%;
    height: 35px;
    margin-left : 25%;
    background-color: rgb(226, 28, 28);
    cursor : pointer;
    border : none;
    color : white;

}
.ormar{
     text-align : center;
     margin-bottom: 0px;
     margin-top: 3px;
}
.rega{
    background-color : dodgerblue;
    width : 50%;
    height: 35px;
    cursor : pointer;
    font-size : 20px;
    border : none;
    color : white;
    margin-left : 25%;
}